nav {
  display: flex;
  justify-content: space-between;
  background-color: #d1d1d1;
  padding: 1rem;
}

.brand {
  text-decoration: none;
  font-size: 1.5rem;
  color: #000000;
}

.brand:hover {
  color: #000000;
}
main{
  margin-top: 2rem;
}
.form-container {
  width: 50%;
  padding: 1rem;
  margin: auto;
  border: 2px solid #ff4a00;
}

.movielist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.card {
  flex-basis: 325px;
  background-color: #d1d1d1;
}

.movie-details {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
}

.btn-info {
  padding: 0.5rem 1rem;
  margin: 0;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  color: #202020;
}

@media screen and (max-width:580px) {
  .form-container {
    width: 90%;
  }
}